@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  color: #333333;
}

a:link, a:visited {
  text-decoration: none;
}