@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  color: #333333;
}

a:link, a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  background-color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #393f86;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  width: 110px;
  text-align: center;
  padding: 10px 20px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #129be5;
  font-size: 300%;
}

.iphone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.middle-text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #393f86;
  font-size: 0.9cm;
  margin: 0.5cm;
}

h3 {
  color: #129be5;
  font-size: 0.7cm;
  margin: 0.5cm;
}

h4 {
  color: #393f86;
  font-size: 0.6cm;
  margin: 0.5cm;
}

.button {
  border: 2px solid black;
  background-color: #393f86;
  color: white;
  border-radius: 12px;
  font-size: 0.9cm;
  width: 300px;
  margin: 0.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find {
  display: flex;
  justify-content: center;
  height: 2cm;
  font-size: 0.9cm;
  color: #393f86;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

div h5 {
  color: #393f86;
  font-size: 0.8cm;
  padding: 2cm;
}

section .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-link {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1cm;
}

.footer {
  display: flex;
  justify-content: center;
  color: #393f86;
  margin: 1cm;
}

ul {
  font-family: "Abel", sans-serif;
  font-size: 0.9cm;
  background-color: #f7f7b2;
}