@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  color: #333333;
}

a:link, a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  background-color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #393f86;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  width: 110px;
  text-align: center;
  padding: 10px 20px;
}

header {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #129be5;
  border: 2px solid red;
  font-size: 300%;
}

.iphone {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.middle-text {
  height: 50vh;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #393f86;
  border: 2px solid yellow;
  font-size: 0.9cm;
}

h3 {
  color: #129be5;
}