@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@600&family=Roboto&display=swap');

$font-blue-heading:"Cairo", sans-serif;
$font-darkblue-heading:"Roboto", sans-serif;
$font-info:"Abel", sans-serif;

$color-primary: lightblue;
$color-secondary: purple;
$color-black: #333333;
$color-white: #fafafa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-blue-heading;
    color: $color-black;
}

a:link, a:visited {
    text-decoration: none;
}